# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
# H0: Dragon avg HP = Grass avg HP
# H1: Dragon avg HP > Grass avg HP

# Nivel de significancia 0.05

dragon = (df['Type 1'] == "Dragon") | (df['Type 2'] == "Dragon")
grass = (df['Type 1'] == "Grass") | (df['Type 2'] == "Grass")

# 2. Aplicamos las condiciones para obtener las series de HP
Dragon_avg_stats = df[dragon]["HP"]
Grass_avg_stats = df[grass]["HP"]

In [10]:
_, p_value = st.ttest_ind(Dragon_avg_stats, Grass_avg_stats, equal_var=False)
print(p_value)

0.00010181538122353851

### resultado
Con este resultado de p_value, rechazamos la hipótesis nula y aceptamos la hipótesis alternativa, es decir que hay una diferencia estadística significativa para concluir que la HP media de los pokemon tipo Dragon es mayor que la de los pokemon tipo Grass

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [26]:
# H0 stats_legendary = stats_non_legendary
# H1 stats_legendary != stats_non_legendary

# Nivel de significancia 0.05

legendary_pokemon = df[df['Legendary'] == True]
non_legendary_pokemon = df[df['Legendary'] == False]

stats_column = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

for stat in stats_column:   
    legendary_data = legendary_pokemon[stat]
    non_legendary_data = non_legendary_pokemon[stat]

   
    _, p_value = st.ttest_ind(legendary_data, non_legendary_data, equal_var=True)

p_value

np.float64(2.3540754436898437e-21)

### Resultado
Rechazamos la hipótesis nula y aceptamos la hipótesis alternativa. Se comprueba estadísticamente que los pokemon Legendary tienen un nivel de stats superior al de los pokemon Non-Legendery

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [27]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [61]:
def dist_euclidiana(df, coord_sch_hosp):
 
    sch_hosp_lon, sch_hosp_lat = coord_sch_hosp 
    
    dif_lon = df['longitude'] - sch_hosp_lon
    dif_lat = df['latitude'] - sch_hosp_lat
    
    # Aplica el Teorema de Pitágoras: sqrt((x2-x1)^2 + (y2-y1)^2)
    distance = np.sqrt(dif_lon**2 + dif_lat**2)
    
    return distance

In [62]:
sch_coord = (-118, 34)
hosp_coord = (-122, 37)

df['dist_to_school'] = dist_euclidiana(df, sch_coord)
df['dist_to_hospital'] = dist_euclidiana(df, hosp_coord)

distancia_ref = 0.50

df['cercania'] = (df['dist_to_school'] <= distancia_ref) | (df['dist_to_hospital'] <= distancia_ref)

casas_cerca = df[df['cercania'] == True]['median_house_value']
casas_lejos = df[df['cercania'] == False]['median_house_value']

In [63]:
# H0 Valor medio de las casas cercanas = Valor medio de las casas lejanas
# H1 Valor medio de las casas cercanas > Valor medio de las casas lejanas

# Nivel de significancia 0.05

_, p_value = st.ttest_ind(casas_cerca, casas_lejos,equal_var=False)

print(p_value)

4.642199519694926e-301

### Resultado

Al hacer todo el análisis podemos ver que el p_value es muchísimo menor que el valor de significancia, por lo cual rechazamos la hipótesis nula y nos quedamos con la alternativa.
Las casas cercanas a un colegio ó a un hospital tienen un valor medio significativamente más alto que las casas que se encuentran más lejos de esos puntos de interés.